---
---

// Variables

$accent-color: #cd2740;
$white: #fff;
$gray-dark-color: #161616;
$gray-light-color: #eee;
$p-dark-color: #000; 
$gray-medium-color: #637280;
// Reset

body {
  color: $white;
  background: $accent-color;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
}
a {
  color: $white;
  text-decoration: none;
  &:hover, &:focus, &:active {
    color: $white;
    text-decoration: underline;
  }
}
h1 {
font-size: 48.8px;
font-weight: bold;
}
h2 {
font-size: 41.6px;
font-weight: bold;
} 
h3{
font-size: 34.4px;
font-weight: bold;
}
h4{
font-size: 27.2px;
font-weight: bold;
}
h5{
font-size: 18px;
font-weight: bold;
} 
h6 {
font-size: 16px;
font-weight: bold;
}
.btn-lg {
  margin-bottom: 20px;
}
.talk-invite {
  line-height: 24px;
}
.twitter-icon {
  position: relative;
  top: 1px;
}

// Buttons
  .btn {
    font-weight: bold;
  }
  .btn-lg {
    font-size: 28px;
  }
  .btn-primary {
    border-radius: 0px;
    background: $white;
    border-color: $gray-light-color;
    color: $gray-dark-color;
    &:hover, &:focus, &:active {
      background: $white!important;
      color: $accent-color!important;
      border-color: $gray-light-color;
    }
  }

// Helpers

  .block {
    padding: 30px 0 60px;
  }
  .uppercase {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 100;
  }
  .lead {
    color: $p-dark-color;
    font-weight: 400;
  }
  .lead-accent {
    color: $white;
    font-weight: 400;
    font-size: 21px;
    margin-bottom: 30px;
  }
  .unmargin {
    margin: 0!important;
  }
  .unmargin-top {
    margin-top: 0!important;
  }
  .unmargin-bottom {
    margin-bottom: 0!important;
  }
  .margin-bottom {
    margin-bottom: 30px;
  }
  .margin-top {
    margin-top: 30px; 
  }
// Styles

  .disclaimer {
    border-bottom: 1px solid darken($accent-color, 10%);
    padding: 0 0 15px;
  }

  .hero {
    background: $white;
    padding: 60px 0 60px;
    position: relative;
    .content {
      position: relative;
      z-index: 1;
    }
    .logo {
      margin-bottom: 30px;
      width: 330px;
    }
    .date {
      margin: 30px 0;
    }
  }
  .meetup{
    padding: 60px 0 60px;
    background-image: url('../images/bg_pattern_black.png');
    .arrow-link {
      font-size: 32px;
      margin-top: 20px;
      display: block;
    }
  }
  .meetup-date {
    border: 1px solid #FFFFFF;
    padding: 20px;
  }
  .meetup-teme {
    background: $white;
    color: $accent-color;
    padding: 20px;
  }
  .dark {
    background: $gray-dark-color url('../images/bg_pattern_black.png');
  }
  .talks {
    box-shadow: 0 0 32px rgba(0,0,0,.3);
    position: relative;
    .talk {
      margin-bottom: 30px;
      .description {
        padding: 0 20px;
      }
      .social {
        margin-top: 5px;
        display: inline-block;
        padding: 7px;
        font-size: 18px;
        i {
          color: $accent-color;
          margin-right: 4px;
        }
      }
    }
  }
  .section-title {
    margin: 0;
    padding: 30px 0;
    background: $accent-color;
  }
  .map {
    background: $white;
    color: $gray-dark-color;
    height: 400px;
    #googlemaps {
      width: 100%;
      height: 400px;
    }
    .container {
      margin-top: -330px;
    }
    .white {
      background: $white;
      box-shadow: 0 0 32px rgba(0,0,0,.3)
    }
  }
  .sponsors {
    background: $white;
    color: $gray-dark-color;
  }
  
  .wall {
    background: $gray-dark-color url('../images/bg_pattern_black.png');
    padding: 30px 0 30px;
  }
  .wall-container {
    margin-top: 30px;
    padding: 50px 15px 15px 15px;
    color: $p-dark-color;
    background: #FFFFFF;
    box-shadow: 0 2px 10px 3px rgba(0,0,0,0.62);
    border-radius: 4px;
    min-height: 170px;
    p, a {
      color: $gray-medium-color;
    }
  }

  .img-wall {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 0;
  }

  footer {
    border-top: 1px solid lighten($gray-dark-color, 10%);
    background: #000;
    a {
      display: inline-block;
      border-radius: 50%;
      background: $gray-dark-color;
      border: 1px solid lighten($gray-dark-color, 10%);
      font-size: 24px;
      padding: 10px;
      width: 54px;
      height: 54px;
      margin: 10px;
      &:hover, &:focus, &:active {
        color: $accent-color;
      }
    }
  }
