---
---

// Variables

$accent-color: #FF4159;
$alt-color: #FF9448;
$white: #fff;
$gray-light-color: #eee;
$dark-color: #212647;
$gray-medium-color: #637280;
// Reset

body {
  color: $dark-color;
  text-align: center;
  font-family: 'Work Sans', arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
}
a {
  color: $accent-color;
  text-decoration: none;
  &:hover, &:focus, &:active {
    color: $alt-color;
    text-decoration: underline;
  }
}
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}
h1 {
font-size: 48.8px;
}
h2 {
font-size: 41.6px;
}
h3{
font-size: 34.4px;
}
h4{
font-size: 27.2px;
}
h5{
font-size: 18px;
}
h6 {
font-size: 16px;
}
.btn-lg {
  margin-bottom: 20px;
}
.talk-invite {
  line-height: 24px;
}
.twitter-icon {
  position: relative;
  top: 1px;
}

// Gradients

  .hero:after, .btn-primary {
    background-image: -webkit-gradient(
      linear,
      right top,
      left bottom,
      color-stop(0, $accent-color),
      color-stop(1, $alt-color)
    );
    background-image: -o-linear-gradient(left bottom, $alt-color 0%, $accent-color 100%);
    background-image: -moz-linear-gradient(left bottom, $alt-color 0%, $accent-color 100%);
    background-image: -webkit-linear-gradient(left bottom, $alt-color 0%, $accent-color 100%);
    background-image: -ms-linear-gradient(left bottom, $alt-color 0%, $accent-color 100%);
    background-image: linear-gradient(to left bottom, $alt-color 0%, $accent-color 100%);
    border: 0px;
  }

// Buttons

  .btn {
    font-weight: bold;
    padding: 20px 30px;
    border-radius: 4px;
  }
  .btn-lg {
    font-size: 28px;
  }


// Helpers

  .block {
    padding: 30px 0 60px;
  }
  .uppercase {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 100;
  }
  .lead {
    color: $dark-color;
    font-weight: 400;
  }
  .lead-accent {
    color: $white;
    font-weight: 400;
    font-size: 21px;
    margin-bottom: 30px;
  }
  .unmargin {
    margin: 0!important;
  }
  .unmargin-top {
    margin-top: 0!important;
  }
  .unmargin-bottom {
    margin-bottom: 0!important;
  }
  .margin-bottom {
    margin-bottom: 30px;
  }
  .margin-top {
    margin-top: 30px;
  }
// Styles

  .disclaimer {
    border-bottom: 1px solid darken($accent-color, 10%);
    padding: 0 0 15px;
  }

  .hero {
    color: $white;
    padding: 60px 0 60px;
    position: relative;
    background: url('../images/bg-hero.png');
    background-size: 'cover';
    .container {
      position: relative;
      z-index: 1;
    }
    .logo {
      margin-bottom: 30px;
      width: 330px;
    }
    .date {
      margin: 30px 0;
    }
    .hero-section {
      background: $white;
      box-shadow: 0 10px 30px rgba(0,0,0,.1);
      margin-bottom: -200px;
      color: $dark-color;
      .btn {
        margin: 15px 0;
      }
      .free-label {
        color: $gray-medium-color;
      }
    }
    &:after {
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      opacity: .9;
    }
  }
  .meetup-date {
    border: 1px solid #FFFFFF;
    padding: 20px;
  }
  .meetup-teme {
    background: $white;
    color: $accent-color;
    padding: 20px;
  }
  .pattern-bg {
    background: $gray-light-color url('../images/bg-pattern.png');
  }
   .talk-section {
    margin-bottom: 35px;
  }
  #talks {
    color: $dark-color;
    padding-top: 200px;
    position: relative;
    .talk {
      margin-bottom: 30px;
      .description {
        padding: 0 20px;
      }
      .social {
        margin-top: 5px;
        display: inline-block;
        padding: 7px;
        font-size: 18px;
        i {
          color: $accent-color;
          margin-right: 4px;
        }
      }
    }
  }
  .section-title {
    margin: 0;
    padding: 30px 0;
    background: $accent-color;
    color: $white;
  }
  .map {
    background: $white;
    color: $dark-color;
    height: 400px;
    #googlemaps {
      width: 100%;
      height: 400px;
    }
    .container {
      margin-top: -330px;
    }
    .white {
      background: $white;
      box-shadow: 0 0 32px rgba(0,0,0,.3)
    }
  }
  .sponsors {
    background: $white;
    color: $dark-color;
  }

  .wall-lead {
    color: $white;
    padding-bottom: 30px;
  }

  .wall {
    padding-top: 50px;
    background: $dark-color url('../images/bg_pattern_black.png');
  }
  .wall-container {
    margin-top: 30px;
    padding: 15px;
    color: $dark-color;
    background: #FFFFFF;
    box-shadow: 0 2px 10px 3px rgba(0,0,0,0.30);
    border-radius: 4px;
    min-height: 170px;
    p, a {
      color: $gray-medium-color;
    }
  }
  footer {
    background: $accent-color;
    border-top: 1px solid lighten($dark-color, 10%);
    a {
      display: inline-block;
      border-radius: 50%;
      background: $dark-color;
      border: 1px solid lighten($dark-color, 10%);
      font-size: 24px;
      padding: 10px;
      width: 54px;
      height: 54px;
      margin: 10px;
      color: $white;
      &:hover, &:focus, &:active {
        color: $alt-color;
      }
    }
  }

// Ignore Mobile

@media(min-width: 768px) {

  .wall-container {
    padding-top: 50px;
  }
  .img-wall {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 0;
  }

}
